## Django
__pycache__
**/migrations/**
!**/migrations
!**/migrations/__init__.py
/media/

## Enviroment
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.env

## vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history