<header class="site-header">
    <div class="header-container">
        <img src="../static/img/logo.png" alt="Logo-header" class="logo">
        <form class="search-form" action="{% url 'lista_livros' %}" method="GET" onsubmit="return checkSearchQuery()">
            <input type="text" name="search_query" placeholder="Pesquisar..." value="{{ request.GET.search_query }}">
            <button type="submit">
                <img src="../static/img/isearch.png" alt="Pesquisar">
            </button>
        </form>

        <nav class="menu">
            <img src="../static/img/imenu.png" alt="Menu" class="menu-button">
            <span>SEMESTRES</span>
        </nav>
    </div>
</header>