.container {
  padding: 50px;
}

.imagem-container {
  height: 190px;
  width: 190px;
  display: flex;
  justify-content: center;
}

.imagem-container img {
  border-radius: 50%;
}

.conteudo-container h2 {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 15px;
}

.conteudo-container strong {
  margin-bottom: 10px;
  font-size: 16px;
}

.conteudo-container p {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 100;
  text-align: justify;
}

.livros-relacionados {
  text-align: left;
  align-items: left;
  padding: 20px;
  color: white;
}

.livros-relacionados h2 {
  font-size: 18px;
  color: #ffffff;
}

.livros-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  flex-wrap: wrap;
  padding: 15px;
}

.livro-item {
  text-decoration: none;
  width: 180px;
  border-radius: 10px;
  padding: 10px;
  transition: transform 0.3s ease-in-out;
}

.livro-item:hover {
  transform: scale(1.1);
}

.livros-relacionados img {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height: 240px;
  width: 170px;
}

.livros-relacionados h3 {
  text-align: justify;
  font-size: 16px;
  margin-top: 10px;
}

/* Suporte para telas menores */
@media screen and (max-width: 768px) {
  .detalhes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .livros-grid {
    justify-content: center;
  }

  .livros-relacionados img {
    height: 220px;
    width: 150px;
  }
}

@media screen and (max-width: 480px) {
  .livros-grid {
    align-items: center;
    flex-direction: column;
  }

  .livros-relacionados img {
    height: 200px;
    width: 130px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}