/* Todos que herdarem essa base vão ter essas configurações de estilo */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  box-sizing: border-box;
  color: #F2F4F8;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background: linear-gradient(180deg, #0A192F, #172A45);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.breadcrumb {
  font-size: 13px;
  margin-bottom: -30px;
  margin-top: 20px;
  width: 80%;
  color: #F2F4F8;
}

.container {
  animation: fadeIn 1s ease-in-out;
  background: #0A192F;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
  max-width: 1200px;
  padding: 40px 20px;
  width: 95%;
  margin-bottom: 20px;
}

.detalhes-container {
  align-items: flex-start;
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.conteudo-container {
  flex: 1;
}

.imagem-container {
  display: flex;
  justify-content: center;
}

.conteudo-container h2 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: bold;
  color: #F2F4F8;
}

.conteudo-container strong {
  font-size: 18px;
  color: #F2F4F8;
}

.conteudo-container p, a {
  font-size: 16px;
}

.imagem-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}