/* Importação da fonte poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Configurações gerais */
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

header {
    align-items: center;
    animation: fadeInDown 0.8s ease-in-out;
    background-color: #080d305a;
    display: flex;
    justify-content: space-between;
    padding: 40px 30px;
    width: 100%;
    font-size: 14px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 24px;
    font-weight: 500;
}

.logo img {
    width: 33px;
}

.search-bar {
    align-items: center;
    background: #d2d2d28d;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(54, 53, 53, 0.093);
    display: flex;
    padding: 5px 15px;
    position: relative;
    width: 400px;
}

.search-bar input {
    background: transparent;
    color: #000000;
    border: none;
    flex: 1;
    outline: none;
    padding: 5px;
}

.search-bar button {
    border: none;
    background-color: transparent;
}

.search-bar i {
    color: #000000;
    cursor: pointer;
    font-size: 16px;
    outline: none;
}

.search-bar input::placeholder {
    color: #000000;
}

#login-btn, #logout-btn {
    background: transparent;
    border: 2px solid #18516f;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    padding: 8px 15px;
    transition: all 0.3s ease-in-out;
    width: 100px;
}

#login-btn:hover, #logout-btn:hover {
    background: #18516f;
    color: #fff;
}

.close-btn {
    cursor: pointer;
    float: right;
    font-size: 20px;
}

.user-area {
    align-items: center;
    display: flex;
    gap: 15px;
}

.user-icon {
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
    padding: 8px 15px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    width: 100px;
}

.user-icon:hover {
    transform: scale(1.1);
}

.hidden {
    display: none;
}

/* Ajuste ao diminuir a tela */
@media (max-width: 990px) {
    header {
        align-items: center;
        flex-direction: column;
        padding: 15px;
    }

    .search-bar {
        margin-top: 10px;
        max-width: 300px;
        width: 100%;
    }

    .user-area {
        margin-top: 10px;
    }
}