.main, .bottom{
    display: block;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.top {
    max-width: 400px;
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 300px;
}
.top h2 {
    font-family: "Readex Pro", serif;
    opacity: 70%;
    justify-content: flex-end;
    text-align: justify;
}

.middle {
    margin-left: 50px;
}

.middle p {
    color: #fff;
    text-decoration: underline;
    margin-bottom: 50px;
}

.bottom {
    display: flex;
    margin: 40px;
}

.bottom img {
    max-width: 600px;
}

.text-box {
    border-style: solid;
    color: white;
    text-align: left;
    border-width: thin;
    max-width: 750px;
}

.text-box p {
    margin: 20px;
}

.title {
    text-align: center;
}