.filtros {
    background-color: #172A45;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    margin-right: 30px;
    height: fit-content;
}

.filtros h2 {
    color: #F2F4F8;
    margin-bottom: 15px;
}

.filtros label {
    display: block;
    font-weight: 600;
    margin: 10px 0 5px;
}

.filtros select,
.filtros input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    color: black;
}

.btn-filtrar {
    background-color: #ffaf53;
    border: none;
    border-radius: 5px;
    color: #F2F4F8;
    padding: 10px;
    width: 100%;
    margin-top: 15px;
    cursor: pointer;
}

.btn-filtrar:hover {
    background-color: #ff7700;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-height: fit-content;
}

.conteudo-container {
    margin-left: 20px;
    display: flex;
    flex-direction: column; 
    flex: 1;
}

.conteudo-container .livro {
    font-size: 18px;
    margin-bottom: -10px;
    margin-left: -15px;
}

.conteudo-container a {
    text-decoration: none;
}

.conteudo-container .matéria {
    margin-bottom: 10px;
}

.conteudo-container a:hover {
    color: rgb(99, 139, 186);
    text-decoration: underline;
}

.imagem-container {
    height: 190px;
    width: 150px;
    display: flex;
    justify-content: center;
    max-height: min-content;
}

.imagem-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.resultados {
    flex: 1;
}

.resultados h2 {
    margin-bottom: 10px;
}

.livros {
    display: block;
}

.livro {
    background-color: #172A45;
    display: flex;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    max-height: fit-content;
}

.btn-comprar {
    background-color: #ffaf53;
    border-radius: 5px;
    color: #F2F4F8;
    padding: 10px 20px;
    text-decoration: none;
    width: 150px; 
    text-align: center;
    cursor: pointer;
    border: none;
    display: block;
    margin-top: auto;
    align-self: center;
}

.btn-comprar:hover {
    background: #ff7700;
}

.paginacao {
    margin: 10px;
    text-align: center;
    width: 100%;
}

/* Responsividade para telas menores  */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .filtros {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .conteudo-container {
        margin-left: 0;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .imagem-container {
        margin: 0 auto;
        width: 120px;
    }

    .livro {
        flex-direction: column;
        align-items: center;
    }
}

/* Responsividade para telas médias */
@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        flex-direction: row;
    }

    .filtros {
        width: 50%;
        margin-right: 20px;
    }

    .imagem-container {
        width: 130px;
    }

    .livro {
        flex-direction: row;
        justify-content: space-between;
    }
}