<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/booksInfo.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Readex+Pro:wght@160..700&display=swap" rel="stylesheet">

    <title>Document</title>
</head>
<body>
  <div id="header"></div>
  <div class="main">
    <div class="container">
      <div class="book-cover">
          <img class="cover" src="../static/img/engsoftware.jpg">
      </div>
      <div class="book-data">
        <span class="book-title">Titulo</span>
        <a class="book-author">Autor</a>
        <p class="book-year">2025</p>
        <p class="book-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          In non tincidunt velit, dapibus vehicula risus. Sed id nulla diam. 
          In porttitor nisi consequat sapien elementum bibendum. Quisque convallis orci ipsum.
        </p>
      </div>
    </div>
  </div>
  <div id="footer"></div>

  <script src="../static/js/script.js"></script>
</body>
</html>