body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 300vh;
    background-color: black;
    background: url('../img/HOME.png') no-repeat center center;
    background-size: cover;
}

.logo {
    max-width: 150px;
}

