<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/footer.css">
    <title>Footer</title>
</head>

<body>
    <footer>
        <div class="footer-container">
            <!-- Área da logomarca -->
            <div class="footer-contacts">
                <div class="logo-footer">
                    <img src="{% static 'imgs/logo.png' %}" alt="">
                    LivrariaIGE
                </div>
                <p>Todo o conhecimento de Engenharia em um só lugar.</p>
            </div>

            <!-- Área de navegação na página -->
            <ul class="footer-list">
                <li>
                    <h3>Mapa do site</h3>
                </li>
                <li>
                    <a href="#" class="footer-link">Voltar para o topo</a>
                </li>
                <li>
                    <a href="#seção-2" class="footer-link">Cursos</a>
                </li>
                <li>
                    <a href="#seção-3" class="footer-link">Livros básicos</a>
                </li>
            </ul>

            <!-- Simulação de registro -->
            <div class="footer-copyright">
                &#169
                2025 todos os direitos reservados
            </div>
        </div>
    </footer>
</body>

</html>