<html>
{% load static %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{% static 'css/header.css' %}">
{% endblock head %}

<body>
    <header>
        <a style="text-decoration: none;" href="{% url 'usuario:home' %}">
            <div class="logo">
                <img src="{% static 'imgs/logo.png' %}" alt="Logo">
                LivrariaIGE
            </div>
        </a>
        <form class="search-bar" action="{% url 'livros:lista_livros' %}" method="GET" onsubmit="return checkSearchQuery()">
            <input type="text" name="search_query" placeholder="Pesquisar..." value="{{ request.GET.search_query }}">
            <button type="submit-search">
                <i class="fas fa-search"></i>
            </button>
        </form>

        <!-- Área de ver dados cadastrais, fazer login ou logout -->
        <div class="user-area">
            {% if request.user.usuario.ocupacao == 'P' %}
                <form action="{% url 'livros:novo_livro' %}" method="post">
                    {% csrf_token %}
                    <button id="logout-btn" type="submit">Adicionar livro</button>
                </form>
            {% endif %}
                

            {% if request.user.is_authenticated %}
            <form action="{% url 'usuario:logout' %}" method="post">
                {% csrf_token %}
                <button id="logout-btn" type="submit">Logout</button>
            </form>
            <i class="fa-solid fa-user user-icon" id="user-icon"></i>
            {% else %}
            <a href="{% url 'usuario:login' %}">
                <button id="login-btn">Login</button>
            </a>
            {% endif %}
        </div>
    </header>
    <script src="{% static 'js/header.js' %}"></script>
</body>

</html>