<!-- Herda as configurações da base -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Livraria IGE{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock head %}


{% block content %}
    <!-- Importação da header -->
    {% include 'header.html' %}
    <!-- Mensagem de boas-vindas -->
    <section class="seção-2" id="seção-2">
        <div class="home-container">
            {% for curso in cursos %}
            <div class="bloco" data-curso="{{ curso.nome }}" data-periodos="{{ curso.periodos|join:',' }}">
                <i class="fa-solid fa-building"></i> <!-- Customize the icon based on the course -->
                {{ curso.nome }}
            </div>
            {% endfor %}
        </div>
    </section>
    
    <!-- Modal Structure -->
    <div id="modal" style="display: none;">
        <div class="modal-content">
            <h2 id="modal-titulo"></h2>
            <div class="periodos"></div>
        </div>
    </div>
    <!-- Seção apenas informativa sobre as matérias básicas que alguns cursos compartilham -->
    <section class="seção-3" id="seção-3">
        <div class="conteudo">
            <div class="texto">
                <h2>Livros Básicos das Engenharias</h2>
                <p>
                    Você sabia que existem livros essenciais para o estudo das engenharias? Eles abordam temas
                    fundamentais como
                    matemática, física, química, programação e mecânica, construindo a base para a compreensão dos
                    princípios
                    científicos e tecnológicos aplicados em cada área.
                </p>
                <p>
                    Essas leituras são recomendadas para desenvolver o raciocínio lógico e solucionar problemas
                    complexos.
                </p>
            </div>
            <!-- Amostragem de livros básicos famosos (apenas visual) -->
            <div class="carrossel-container">
                <div class="carrossel">
                    <!-- Capa dos livros -->
                    <img src="../static/imgs/fisica.png" alt="Livro 1" class="livro" data-materia="Física">
                    <img src="../static/imgs/quimica.png" alt="Livro 2" class="livro" data-materia="Química">
                    <img src="../static/imgs/matematica.png" alt="Livro 3" class="livro destaque" data-materia="Matemática">
                    <img src="../static/imgs/mecanica.png" alt="Livro 4" class="livro" data-materia="Mecânica">
                    <img src="../static/imgs/programaçao.png" alt="Livro 5" class="livro" data-materia="Programação">
                </div>
                <!-- Nome das matérias correspondentes as capas -->
                <h3 id="materia-livro">Matéria: Matemática</h3>
            </div>
        </div>
    </section>
    <!-- Importação do footer -->
    {% include 'footer.html' %}
    <!-- Importação do dinamismo da amostragem e modal -->
    <script src="{% static 'js/home.js' %}"></script>
{% endblock content %}

</html>