<!-- Herda as configurações da base -->
{% extends 'base.html' %}
{% load static %}

{% block head %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/livro.css">
{% endblock head %}

{% block title %}{{ livro.titulo }}{% endblock title %}

{% block content %} 
    <!-- Importação da header -->
    {% include 'header.html' %}
    <div class="breadcrumb">
        Livros &gt; {{ livro.titulo }}
    </div>

    <!-- Seção de detalhes sobre o livro -->
    <section class="container">
        <div class="detalhes-container">
            <div class="imagem-container">
                <img src="{{ livro.capa.url }}" alt="Capa do Livro">
            </div>
            <div class="conteudo-container">
                <h2 class="livro">{{ livro.titulo }}</h2>
                <p class="livro-editora"><strong>Editora: </strong>{{ livro.editora }}</p>
                <p class="livro-ano"><strong>Data de Publicação: </strong>{{ livro.ano_publicacao }}</p>
                <p class="livro-autor"><strong>Autor: </strong><a href="{% url 'autor:detalhes_autor' livro.autor.slug %}">{{ livro.autor.nome_completo }}</a></p>
                <p class="livro-descricao"><strong>Descrição: </strong>{{ livro.descricao }}</p>
            </div>
        </div>
        <a href="{{ livro.link.link }}" class="btn-comprar" target="_blank">Comprar</a>
    </section>

    <!-- Seção de comentários sobre o livro -->
    <div class="comentarios-container">
        <h3 class="comentarios-titulo">Comentários</h3>
        
        {% if comentarios %}
            {% for comentario in comentarios %}
                <div class="comentario">
                    <div class="comentario-header">
                        <div class="comentario-avatar">
                            <i class="fa-solid fa-user-graduate"></i>
                        </div>
                        <span class="comentario-usuario">{{ comentario.usuario.get_full_name }} &gt; </span> {{ comentario.postado_em }}<br>
                    </div>
                    <p class="comentario-texto">{{comentario.corpo}}</p>
                    {% if request.user.usuario == comentario.usuario %}
                        <form method="POST" style="display: inline;">
                            {% csrf_token %}
                            <input type="hidden" name="comentario_id" value="{{ comentario.id }}">
                            <button type="submit" class="btn-excluir" onclick="return confirm('Tem certeza que deseja excluir este comentário?');">
                                Excluir
                            </button>
                        </form>
                    {% endif %}
                </div>
            {% endfor %}

            <!-- Paginação para mais de 5 comentários -->
            <div class="pagination">
                {% if comentarios.has_previous %}
                    <a href="?page=1" class="pagina-link">Primeira</a>
                    <a href="?page={{ comentarios.previous_page_number }}" class="pagina-link">Anterior</a>
                {% endif %}

                <span class="pagina-atual">Página {{ comentarios.number }} de {{ comentarios.paginator.num_pages }}</span>

                {% if comentarios.has_next %}
                    <a href="?page={{ comentarios.next_page_number }}" class="pagina-link">Próxima</a>
                    <a href="?page={{ comentarios.paginator.num_pages }}" class="pagina-link">Última</a>
                {% endif %}
            </div>
        {% endif %}
        
        <!-- Área de realizar novos comentários -->
        <div class="novo-comentario">
            <h3 class="comentarios-titulo">Novo comentário: </h3>
            <form method="POST" data-authenticated="{% if request.user.is_authenticated %}true{% else %}false{% endif %}"> {% csrf_token %}
              {% for field in form %}
                <div>
                    {{ form.corpo }}
                  {% if field.errors %}
                    <div style="color: red;">
                      {{ field.errors }}
                    </div>
                  {% endif %}
                </div>
              {% endfor %}
              <button class="btn-enviar" type="submit">Enviar Comentário</button>
            </form>
        </div>
    </div>

    <!-- Janela que impede o usuário não autenticado de comentar e redireciona para o login -->
    <div id="login-popup" class="popup">
        <div class="popup-content">
            <span class="close-popup">&times;</span>
            <p>Você precisa estar logado para comentar.</p>
            <a href="{% url 'usuario:login' %}?next={{ request.path }}">Clique aqui para fazer login</a>.
        </div>
    </div>
    
    <!-- Importação das configurações de aparição do popup -->
    <script src="{% static 'js/comentarioPopup.js' %}"></script>

    <!-- Importação do footer -->
    {% include 'footer.html' %}
{% endblock content %}
</html>