{% extends 'base.html' %}
{% load static %}

{% block title %}{{ username }}{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/perfil.css' %}">
{% endblock head %}


{% block content %}
  {% include 'header.html' %}
    <div class="container">
      <div class="usuario-imagem">
        {% if usario.foto_perfil.url %}
          <img src="{{ usuario.foto_perfil.url }}" alt="Foto de {{ username }}">
        {% else %}
          <img src="{% static 'imgs/usuario/usuario.png' %}">
        {% endif %}
      </div>
      <div class="conteudo-container">
        <span class="usuario">{{ username }}</span>
        <p>{{ usuario.nome_completo }}</p>
        <p>{{ usuario.data_nascimento }}</p>
        <p>{{ usuario.get_genero_display }}</p>
        <p>{{ usuario.get_ocupacao_display }}</p>
      </div>
      <div class="favoritos">
        {% for favorito in favoritos %}
          <img src="{{ favorito.livro.capa.url }}" alt="{{ favorito.livro.titulo }}">
        {% endfor %}
      </div>
    </div>
  {% include 'footer.html' %}
{% endblock content %}
    