{% extends 'base.html' %}
{% load static %}

{% block title %}{{ username }}{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/perfil.css' %}">
{% endblock head %}


{% block content %}
  {% include 'header.html' %}
    <div class="container">
      <div class="usuario-imagem">
        {% if usario.foto_perfil %}
          <img src="{{ usuario.foto_perfil.url }}" alt="Foto de {{ username }}">
        {% else %}
          <img src="{% static 'imgs/usuario.png' %}">
        {% endif %}
      </div>
      <div class="conteudo-container">
        <div class="usuario-header">
          <span class="usuario">{{ username }}</span>
        </div>
        <p>{{ usuario.nome_completo }}</p>
        <p>{{ usuario.data_nascimento }}</p>
        <p>{{ usuario.get_genero_display }}</p>
        <p>{{ usuario.get_ocupacao_display }}</p>
      </div>
      <div class="favoritos">
      <div class="favoritos-header">
        <h2>Favoritos do usuário</h2>
      </div>
      <div class="livros-grid">
        {% for favorito in favoritos %}
        <a href="{% url 'livros:detalhes_livro' favorito.livro.slug %}" class="livro-item">
          {% if favorito.livro.capa %}
            <img src="{{ favorito.livro.capa.url }}" alt="{{ favorito.livro.titulo }}" class="livro-capa">
          {% else %}
            <img src="{% static 'imgs/capa_base.png' %}">
          {% endif %}
          <h3>{{ favorito.livro.titulo }}</h3>
        </a>
        {% endfor %}
      </div>
    </div>

  <script src="{% static 'perfil.js' %}"></script>

{% endblock content %}
