{% extends 'base.html' %}
{% load static %}

{% block title %}Pesquisa{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock head %}


{% block content %}
<!-- Importação da header -->
{% include 'header.html' %}
<div class="container">
    <!-- Área de filtragem -->
    <aside class="filtros">
        <h2>Filtrar Resultados</h2>
        <form method="get" action="{% url 'livros:lista_livros' %}">
            <!-- Pesquisar por atributo -->
            <label for="search_query">Pesquisar:</label>
            <input type="text" id="search_query" name="search_query" placeholder="Pesquisar por título, autor, etc."
                value="{{ search_query }}">
            <!-- Por ano de publicação -->
            <label for="ano_publicacao">Ano de Publicação:</label>
            <input type="text" id="ano_publicacao" name="ano_publicacao" placeholder="Ano de publicação"
                value="{{ ano_publicacao }}">
            <!-- Por editora -->
            <label for="editora">Editora:</label>
            <input type="text" id="editora" name="editora" placeholder="Nome da editora" value="{{ editora }}">
            <!-- Por matéria -->
            <label for="materia">Matéria:</label>
            <input type="text" id="materia" name="materia" placeholder="Nome da matéria" value="{{ materia }}">
            <!-- Confirmar filtros -->
            <button type="submit" class="btn-filtrar">Aplicar Filtros</button>
        </form>
    </aside>

    <main class="resultados">
        <h2>Resultados Encontrados</h2>
        <!-- Área de resultados -->
        <div class="livros">
            {% for livro in livros %}
            <div class="livro">
                <div class="imagem-container">
                    <a href="{% url 'livros:detalhes_livro' livro.slug %}">
                        {% if usario.foto_perfil.url %}
                        <img src="{{ livro.capa.url }}" alt="{{ livro.titulo }}">
                        {% else %}
                        <img src="{% static 'imgs/usuario.png' %}">
                        {% endif %}
                    </a>
                </div>
                <!-- Cada container será um resultado de busca -->
                <div class="conteudo-container">
                    <!-- Com título do livro com url para página de Detalhes do Livro-->
                    <h2>
                        <a class="livro" href="{% url 'livros:detalhes_livro' livro.slug %}">{{ livro.titulo }}</a>
                    </h2>
                    <!-- Com nome do autor com url para página de Detalhes do Autor-->
                    <p class="autor">Autor: <a class="autor-info"
                            href="{% url 'autor:detalhes_autor' livro.autor.slug %}">{{ livro.autor.nome_completo }}</a>
                    </p>
                    <!-- Com editora -->
                    <p class="editora">Editora: {{ livro.editora.nome }}</p>
                    <!-- Com matéria correspondente -->
                    <p class="matéria">Matéria:
                        {% for materia in livro.materia.all %}
                        {{ materia.nome }}
                        {% endfor %}
                    </p>
                    <!-- Botão para link de compra -->
                    <button class="btn-comprar"
                        onclick="window.location.href='{{ livro.link_compra }}';">Comprar</button>
                </div>
            </div>
            {% empty %}
            <!-- Caso o livro pesquisado não esteja na base de dados -->
            <p>Nenhum livro encontrado.</p>
            {% endfor %}
        </div>
    </main>

</div>
<!-- Paginação para multíplos resultados -->
<div class="paginacao">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; Primeira</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="atual">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Próxima</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
        {% endif %}
    </span>
</div>
<!-- Importação do footer -->
{% include 'footer.html' %}
{% endblock content %}