<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/css/footer.css">
    <title>Footer</title>
</head>

<body>
    <footer>
        <div id="footer-content">
            <div id="footer-contacts">
                <h1>Logo</h1>
                <p>Todo o conhecimento de Engenharia em um só lugar.</p>

                <div id="footer-social-media">
                    <a href="#" class="footer-link" id="instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </a>

                    <a href="#" class="footer-link" id="facebook">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>

                    <a href="#" class="footer-link" id="twitter">
                        <i class="fa-brands fa-x-twitter"></i>
                    </a>

                    <a href="#" class="footer-link" id="youtube">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </div>
            </div>

            <ul class="footer-list">
                <li>
                    <h3>Mapa do site</h3>
                </li>
                <li>
                    <a href="#" class="footer-link">Voltar para o topo</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Cursos</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Livros básicos</a>
                </li>
            </ul>

            <ul class="footer-list">
                <li>
                    <h3>Precisa de ajuda?</h3>
                </li>
                <li>
                    <a href="#" class="footer-link">E-mail</a>
                </li>
                <li>
                    <a href="#" class="footer-link">WhatsApp</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Saiba mais</a>
                </li>
            </ul>

            <div id="footer-subscribe">
                <h3>Inscreva-se</h3>
                <p>Insira seu e-mail para ser notificado sobre nossas atualizações</p>

                <div id="input-group">
                    <input type="email" id="email">
                    <button>
                        <i class="fa-regular fa-envelope"></i>
                    </button>
                </div>
            </div>
        </div>

        <div id="footer-copyright">
            &#169
            2025 todos os direitos reservados
        </div>
    </footer>

</body>

</html>