<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Login page</title>
</head>

<body>

    <div class="container" id="container">
        <div class="form-container sign-up">
            <form>
                <h1>Criar Conta</h1>
                <input type="text" placeholder="Nome Completo">
                <input type="email" placeholder="E-mail">
                <input type="text" placeholder="Usuário">

                <div class="form-dados">
                    <label for="date">Data de Nascimento:</label>
                    <input type="date" placeholder="">
                    <label for="sexo">Gênero:</label>
                    <select id="sexo">
                        <option value="feminino">Feminino</option>
                        <option value="masculino">Masculino</option>
                        <option value="nenhum">Prefiro não informar</option>
                    </select>
                    <label for="ocupação">Ocupação:</label>
                    <select id="ocupação">
                        <option value="student">Estudante</option>
                        <option value="teacher">Professor(a)</option>
                    </select>
                    <label for="identification">Tipo de Identificação:</label>
                    <select id="identification">
                        <option value="CPF">CPF</option>
                        <option value="registration">Matrícula</option>
                    </select>
                </div>
        
                <input type="number" placeholder="Número de Identificação">
                <input type="password" placeholder="Senha">
                <button>Criar conta</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form>
                <h1>Entrar</h1>
                <input type="email" placeholder="E-mail">
                <input type="password" placeholder="Senha">
                <button>Entrar</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Bem vindo de volta!</h1>
                    <p>Insira seus dados pessoais para usar todos os recursos do site
                    </p>
                    <button class="hidden" id="login">Entrar</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Olá!</h1>
                    <p>Registre-se com seus dados pessoais para usar todos os recursos do site</p>
                    <button class="hidden" id="register">Cadastra-se</button>
                </div>
            </div>
        </div>
    </div>

    <script src="../static/js/login.js"></script>
</body>

</html>